@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    color: #bf8d7a;
}

body {
    margin: 0;
    padding: 0;
}

.direction {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

strong {
    background-color: #bf8d7a;
    color: #f9f4ed;
    padding: 10px 15px;
    text-align: center;
}

#logo {
    width: 46px;
    height: 46px; 
    margin-right: 5px;
}

h1 {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 600;
}

.container {
    height: 100vh;
    background-color: #f9f4ed;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

.center {
    align-content: center;
}

.margin-10 {
    margin: 10px;
}

.result-row {
    overflow: hidden;
    padding: 8px;
    min-height: 57px;
    margin-bottom: 12px;
}

.error-span {
    color: red;
}

button {
    padding: 12px;
    border: 2px solid #bf8d7a;
    border-radius: 12px;
    color: #bf8d7a;
    font-size: 15px;
    background-color: transparent;
    min-width: 140px;
    user-select: none;
    outline:none;
    transition: 0.5s all;
}

button:hover {
    /* padding: 12px; */
    border: 2px solid #bf8d7a;
    /* border-radius: 12px; */
    color: #f9f4ed;
    /* font-size: 15px; */
    background-color: #bf8d7a;
    /* min-width: 140px; */
    /* user-select: none; */
    /* outline:none;  */
}

#footer {
    background-color: rgba(191, 141, 122, 0.5);
    text-align: center;
    padding: 50px 0;
}

.link {
    color: #bf8d7a;  
    text-decoration: none;
    font-weight: 400;
}

.link:hover {
    font-weight: 500;
}

/* Utility */
.flex-row {
    flex-basis: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


 