@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
}

#logo {
  width: 46px;
  height: 46px;
  margin-right: 5px;
}

.container {
  height: 100vh;
}

.wrapper {
  width: 700px;
}

.margin-10 {
  margin: 10px;
}

.result-row {
  overflow: hidden;
  padding: 8px;
  min-height: 57px;
  margin-bottom: 12px;
}

.error-span {
  color: red;
}

button {
  padding: 12px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  background-color: transparent;
  min-width: 140px;
  user-select: none;
  outline: none;
  transition: 0.2;
}

button:hover {
  background-color: rgba(255, 192, 203, 0.425);
}

/* Utility */
.flex-row {
  flex-basis: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
